@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

nav {
  height: 100px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.nav__link--lists {
  padding: 24px;
}

.nav__link--lists {
  display: flex;
}

.nav__link--list,
.header__link--list {
  padding-left: 12px;
}

li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__logo--img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

h1 {
  margin: 12px 24px;
}

.subheader {
  text-align: center;
  margin: 24px;
}

.header__link--lists {
  display: flex;
  justify-content: center;
  margin: 12px 0 24px 0;
}

.header__logo--drawing {
  height: 500px;
}

#tech {
  display: flex;
  flex-direction: column;
}

.tech__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tech__link {
  width: 25%;
  padding: 24px;
}

#project {
  display: flex;
  flex-direction: column;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__image {
  width: 100%;
  max-width: 600px;
  border: 4px solid black;
  border-radius: 25px;
  margin-bottom: 24px;
}

footer {
height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  height: 50px;
  margin-bottom: 24px;
}

.footer__link--lists {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.footer__link--list,
.footer__copyright {
  color: white;
}

.footer__link--list {
  margin: 24px;
}
