@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 72px;
}
.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

button {
  background-color: #05c7cf;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}

a {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  height: 32px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 16px;
}

#about, #discord, #contact {
  padding: 48px 0;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.about__description,
.discord__description {
display: flex;
align-items: center;
}

.about__img--wrapper,
.discord__img--wrapper {
  width: 40%;
}

.about__description--wrapper,
.discord__description--wrapper {
  width: 60%;
}