* {
  box-sizing: border-box;
}

.container {
  border: 4px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.box {
  border: 2px solid lightgray;
  margin-bottom: 24px;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.small-box {
  height: 50px;
}

.tiny-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tiny-box {
  height: 50px;
  width: 30%;
}

.large-box {
  height: 200px;
  width: 45%;
}
