* {
  box-sizing: border-box;
}

.container {
  border: 4px solid lightgray;
  height: 100px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.large-box {
  border: 4px solid lightgray;
  height: 70px;
  width: 70px;
}

.box-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.small-box {
  border: 2px solid lightgray;
  height: 50px;
  width: 50px;
  margin-left: 24px;
}