* {
  box-sizing: border-box;
}

.container {
  border: 4px solid lightgray;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.large-box {
  border: 4px solid lightgray;
  height: 80px;
  width: 80px;
  display: flex;
}

.box-wrapper {
 display: flex;
 justify-content: space-between;
}

.small-box {
  border: 4px solid lightgray;
  height: 50px;
  width: 50px;
}