@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap);

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: 32px;
}

body {
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  padding: 80px 0;
}

button {
  border-radius: 9999px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
}

h1 {
  font-size: 40px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  color: #243e63;
  margin: 32px 0;
  line-height: 1.5;
}

img {
  width: 100%;
  /* max-width: 50px; */
  /* height: auto; */
}

::placeholder {
  color: #a0aec0;
}

.purple {
  color: #6415ff;
}

.white {
  color: #f7fafc;
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in-left 500ms 300ms backwards ease;
}

.logo__container {
  display: flex;
  margin: 0 24px 0 0;
  padding: 0 0 4px;
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: .4px;
}

.logo__img {
  width: 40px;
  margin: 0 12px 0 0;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 24px 0 0;
  padding: 0 0 4px;
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
}

.logo__link:hover {
  color:#6415ff
}

.nav__links,
.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  padding: 0 0 4px;
  font-weight: 600;
  height: 100%;
  color: #243e63;
  transition: all 300ms ease;
  border-bottom-width: 2px;
  border-color: transparent;
  padding-bottom: 4px;
  border-bottom-style: solid;
}

.nav__link--login:hover,
.nav__link:hover {
text-decoration: underline;
color: #6415ff;
}

.nav__link--login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px 0 48px;
  padding: 0px 0 4px;
  color: #243e63;
  font-weight: 600;
  transition: all 300ms ease;
  border-bottom-width: 2px;
  border-color: transparent;
  border-bottom-style: solid;
}

.nav__link--button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  color: #f7fafc;
  background-color: #6415ff;
  font-weight: 600;
  transition: all 300ms ease;
  border-radius: 9999px;
  border: none;
}

/* MAIN */

.main__row {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
  animation: fade-in-left 500ms 300ms backwards ease;
}

.main__container {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 100%;
}

.main__container--header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #1a202c;
  text-align: left;
  margin: 0 0;
  width: 100%;
}

.main__container--contact {
position: relative;
text-align: center;
display: flex;
}


.main__input {
  width: 180px;
  max-width: 190px;
  border-radius: 9999px;
  border-width: 2px;
  padding: 20px 192px 20px 32px;
  font-weight: 500;
  height: 24px;
  border-style: solid;
  border-color: #E2E8F0;
  font-size: 100%;
  transition: all 300ms ease;
}

.main__input:hover {
  border-color: #a0aec0;
}

.main__button,
.main__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 160px;
  background: #6415ff;
  color: #f7fafc;
  border-color: transparent;
  font-weight: bold;
  font-size: 100%;
}

.main__button:hover {
  background-color: #6415ff;
}

.main__container--customer {
  margin-top: 48px;
}

.main__para--customer {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .8px;
  color: #a0aec0;
  margin: 0;
}

.main__img--customer {
  margin-top: 16px;
  width: 100%;
  opacity: .5;
}

.main__container--wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 100%;
}

.main__img--figure {
  width: 100%;
}

/* NEED TO FIX GET START BUTTON */


/* FEATURES */

/* QUALITY */

/* TESTIMONIALS */

/* FAQS */

/* STARTING */

/* FOOTER */
