@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap);

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav__container, .header, .features__header--wrapper, .highlight__wrapper, .about__quality, .pricing, .testimonial__img--wrapper, .testimonial__description--wrapper, .faqs__description, .faqs__info {
  width: 100%,
  max-width: 1200px;
  margin: 0 auto
}


.btn {
padding: .75rem 2rem;
}

.purple {
  color: #6415FF;
}

/* NAV */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 0 24px 0 0;
  padding: 0 0 4px;
}

.nav__logo--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 0px;
  font-weight: 900;
  margin-left: 0px;
  font-size: 1.5rem;
}

.nav__logo--img {
  max-width: 100%;
  height: 100%;
  max-width: 40px;
  margin: 0 12px;
}

.nav__logo--name {
  display: flex;
  text-decoration: none;
}

.nav__links {
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-weight: 600;
}

.nav__link {
  font-size: .875rem;
  margin: 0 1.5rem;
  padding: 0 0 4px;
  color: 243E63;
}

.nav__link:hover {
  text-decoration: underline;
}

/* HEADER */

.header {
  height: 100%;
  max-height: calc(100% - 80vh);
}

.header__description--wrapper{
width: 40%;
}

.header__description {

}

.header__img--wrapper {
  width: 60%;
}


/* Collapsible BEGINNING */

/* Style the button that is used to open and close the collapsible content */
.faqs__info--collapsible {
  margin-top: 1.25;
  background-color: rgb(237 242 247);
  color: rgb(45 55 72);
  cursor: pointer;
  padding: 16px 40px;
  width: 100%;
  border-radius: 0.5;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faqs__info--collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.faqs__info--description {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.faqs__info--collapsible:after {
  content: "\2193"; /* Unicode character for "down" sign */
  font-size: 13px;
  color: rgb(45 55 72);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2191"; /* Unicode character for "up" sign */
}

/* COLLAPSIBLE END */
