* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 4px solid lightgray;
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: space-around;
}

.row {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  border: 2px solid lightgray;
  height: 25px;
  width: 100%;
  margin-bottom: 24px;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  border: 4px solid lightgray;
  height: 100px;
  width: 30%;
  margin-bottom: 24px;
}
